
<h1> Update!</h1>
<form action="<%= cat_url(@cat)%>" method="post">
  <input type="hidden"
           name="authenticity_token"
           value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="PATCH">
  <label>Name:
      <input name="cat[name]" type="text" value="<%= @cat.name %>">
  </label>
  <br>
  <label>Birth:
      <input name="cat[birth]" type="date" value="<%= @cat.birth %>">
  </label>
    <br>
  <label>Color:
    <select name="cat[color]">
      <option> <!-- blank option -->
      </option>
      <option value="white", selected="<%'selected' if @cat.color = 'white'%>">
        White
      </option>
      <option value="black", selected="<%'selected' if @cat.color = 'black'%>">
        Black
      </option>
      <option value="green", selected="<%'selected' if @cat.color = 'green'%>">
        Green
      </option>
      <option value="gray", selected="<%'selected' if @cat.color = 'gray'%>">
        Gray
      </option>
    </select>
  </label>
    <br>
    <label>Sex:<br>
      <input name="cat[sex]" type="radio" value="M" <%= 'checked' if @cat.sex == 'M'%>> Male <br>
      <input name="cat[sex]" type="radio" value="F" <%= 'checked' if @cat.sex == 'F'%>> Female <br>
    </label>
    <br>
    <label>Description:<br>
        <textarea name="cat[description]"><%= @cat.description %>
        </textarea><br>
    </label>
    <input type="submit">
</form>

<%= link_to "All of the cats", cats_url %>