<h3> <%= @cat.name %>!</h3>
<table>
  <th> Name </th>
  <th> Sex </th>
  <th> Color </th>
  <th> Description </th> 
  <th> Birth </th>
  <tr>
    <td> <%= @cat.name %></td>
    <td><%= @cat.sex%></td>
    <td><%= @cat.color%></td>
    <td><%= @cat.description%></td>
    <td><%= @cat.birth%></td>
  </tr>
</table>



<%= link_to "Edit Cat", edit_cat_url(@cat)%>
<%= link_to "All of the Cats", cats_url%> 

<br>
<br>
<h2> Cat Rental Requests</h2>
<% if @requests.each do |request|%>
<ul>
  <li>
    Requester: <%= User.find(request.user_id).user_name %>
  </li>
  <li> 
    Start Date: <%= request.start_date%>
  </li>
  <li> 
    End Date: <%= request.end_date%>
  </li>
  <li> 
    Status: <%= request.status%>
  </li>
  <% if current_user.id == @cat.user_id %>
  <li> <%= button_to "Approve", approve_cat_rental_request_url(request.id) %>
  </li>
  <li> <%= button_to "Deny", deny_cat_rental_request_url(request.id) %>
  </li>
  <% end %>
</ul>
<%end%>
<%end%>

