<h1> Here is your Cat!</h1>
<table>
  <th> Name </th>
  <th> Sex </th>
  <th> Color </th>
  <th> Description </th> 
  <th> Birth </th>
  <tr>
    <td> <%= @cat.name %></td>
    <td><%= @cat.sex%></td>
    <td><%= @cat.color%></td>
    <td><%= @cat.description%></td>
    <td><%= @cat.birth%></td>
  </tr>
</table>
<%= link_to "Edit Cat", edit_cat_url(@cat)%>
<%= link_to "All of the Cats", cats_url%>
