<% action_url = @album.persisted? ? album_url(@album) : albums_url %>
<% method = @album.persisted? ? "PATCH" : "POST" %>
<% submit_text = @album.persisted? ? "Update Album!" : "Create Album!" %>

<form action="<%= action_url %>" method="POST" >

	<input type="hidden" 
	name="_method" 
	value="<%= method %>">

	<input type="hidden" 
	name="authenticity_token" 
	value="<%= form_authenticity_token %>">

	<label>Album Name:
	<input type="text" 
		name="album[album_name]" 
		value="">
	</label>
	<br>

	<label>Select Band
	<select name="album[band_id]">
		<% Band.all.each do |band| %>
			<option value="<%= band.id %>"
				<%= "selected" if band.id == @album.band_id %>>
				<%= band.name %></option>
		<% end %>
	</select>
	</label>
	<br>

	<p> Recording Type </p>
	<label> Studio
		<input type="radio"
		name="album[recording_type]" 
		value="Studio"
		<%= "checked" if @album.recording_type == "studio" %>>
	</label>

	<label> Live
	<input type="radio" 
		name="album[recording_type]" 
		value="Live"
		<%= "checked" if @album.recording_type == "live" %>>
	</label>
	<br>
	<input type="submit" value="<%= submit_text %>">
</form>