<table>
<ul>
    <li>Track Name: <%= @track.track_name %> </li>
    <li>Band Name: <%= @track.band.name%></li>
    <li> Album: <%= @track.album.album_name%></li>
    <li>Lyrics: <%= @track.lyrics %></li>
</ul>

<%= button_to "Delete Track", track_url(@track), method: :delete %><br>
<%= link_to "Edit Track", edit_track_url(@track) %><br>
<%= link_to "Back to Album", album_url(@track.album) %>
<br>
<%= link_to "All of the Bands", bands_url %>