<!DOCTYPE html>
<html>
<head>
  <title>CatsCatsCats</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
<% if !current_user.nil? %>
<h2>Welcome <%= current_user.user_name.capitalize %>!</h2>
<%= button_to "Logout", delete_session_url, method: :delete %> 
<%else%>
<h2>Welcome!</h2>
  <%end%>

<%= yield %>

</body>
</html>
