
<ul>
  <li>
    Title:
    <%= @post.title %>
  </li>
  <li>
    url:
    <%= @post.url %>
  </li>
  <li>
    Content:
    <%= @post.content %>
  </li>
</ul>
<% if @post.user == current_user %>
<%= link_to "Edit Post", edit_post_url(@post) %>
<%end%>
<%= link_to "Home", subs_url%>